body {
  background-color: var(--second);
  font-family: 'Montserrat';
  color: var(--first);
  width: 100%;
  line-height: 1.25;
}

div {
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--first);
}

section {
  background-color: var(--second);
  font-family: 'Montserrat', sans-serif;
  color: var(--first);
  width: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
}

.button {
  color: var(--first);
  cursor: pointer;
  border: 1px solid #3b3b3b;
  font-size: 16px;
  padding: 8px 16px;
  font-family: 'Montserrat';
  font-weight: 700;
  background-color: var(--second);
  border-radius: 30px;
  box-sizing: border-box;
  @include for-mini-phone-under {
    font-size: 16px;
    padding: 8px 16px;
  }
  @include for-tablet-portrait-up {
    font-size: 18px;
    padding: 10px 20px;
  }
  @include for-big-desktop-up {
    padding: 0.5vw 1vw;
    font-size: 0.9vw;
    border-radius: 1.5vw;
  }

  &--transparent-bg {
    color: var(--second);
    background-color: transparent;
  }

  &--transparent-text {
    color: var(--first);
    background-color: var(--second);
    border: 1px solid transparent;
    mix-blend-mode: screen;
  }

  &:hover {
    background-color: var(--highlighted);
    color: var(--second);
    mix-blend-mode: normal;
    border: 1px solid #3b3b3b;
  }
}

ul {
  list-style: none;
}

.heading {
  font-size: 10vw;
  font-weight: bold;
  margin-bottom: 2vw;

  @include for-tablet-portrait-up {
    font-size: 5vw;
  }
  @include for-tablet-landscape-up {
    font-size: 3vw;
  }

  &--bigger {
    font-size: 9.2vw;
    font-weight: 500;
    @include for-tablet-portrait-up {
      font-size: 4.6vw;
    }
  }

  &--no-margin {
    margin: 0;
  }
}

.paragraph {
  color: #92a1a5;
  font-size: 2.33vw;
  font-weight: bold;

  @include for-tablet-portrait-up {
    font-size: 1.16vw;
  }
  @include for-tablet-landscape-up {
    font-size: 0.7vw;
  }
}

.white {
  color: var(--second);
}

.highlighted {
  color: var(--highlighted);
}
