.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 7vw;
  padding-bottom: 15vh;
  display: flex;
  align-items: flex-end;
  @include for-desktop-up {
    align-items: center;
  }

  &__nav {
    display: none;
    @include for-desktop-up {
      display: flex;
      flex-direction: column;
      margin-right: 2vw;
      z-index: 10;
      & > .slider__element {
        border: none;
        width: 0.6vw;
        height: 0.6vw;
        background-color: #92a1a5;
        border-radius: 50%;
        padding: 0;
        margin: 0.5vw;
        cursor: pointer;
      }
      & > .slider__element.active,
      & > .slider__element:hover {
        background-color: var(--highlighted);
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & > .slider__element {
      opacity: 0;
      transition: all 2s ease-in-out;
      position: absolute;
      top: 0;
      left: 100%;
    }
    & > .slider__element.active {
      opacity: 1;
      left: 0;
    }
  }

  &__text {
    width: 100%;
    position: relative;
    z-index: 2;
    & > .slider__element {
      position: absolute;
      opacity: 0;
      margin-left: 10vw;
      transition: margin 2s ease-in-out, opacity 0.8s ease-in-out;
    }
    & > .slider__element.active {
      opacity: 1;
      margin-left: 0;
    }
  }
}
