.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 7vw;
  display: flex;
  align-items: center;

  &__nav {
    z-index: 10;
    & > .slider__element.active,
    & > .slider__element:hover {
      background-color: var(--highlighted);
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    & > .slider__element {
      opacity: 0;
      transition: all 2s ease-in-out;
      position: absolute;
      top: 0;
      left: 100%;
    }
    & > .slider__element.active {
      opacity: 1;
      left: 0;
    }
  }

  &__text {
    width: 100%;
    position: relative;
    z-index: 2;
    & > .slider__element {
      position: absolute;
      opacity: 0;
      margin-left: 10vw;
      transition: margin 2s ease-in-out, opacity 0.8s ease-in-out;
    }
    & > .slider__element.active {
      opacity: 1;
      margin-left: 0;
    }
  }
}
