.section-fly {
  display: flex;
  flex-wrap: wrap;

  .rect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
    background-image: linear-gradient(rgba(#000, 0.6) 0 100%),
      url(../img/view-from-drone-phone.jpg);

    @include for-phone-only {
      padding: 20vw 0;
    }
    @include for-tablet-portrait-up {
      background-image: linear-gradient(
          90deg,
          rgba(#000, 0.6) 0 40%,
          transparent 0 100%
        ),
        url(../img/view-from-drone-portrait.jpg);
    }

    @include for-tablet-landscape-up {
      flex-direction: row;
      justify-content: space-between;
      background-image: linear-gradient(
          90deg,
          rgba(#000, 0.6) 0 40%,
          transparent 0 100%
        ),
        url(../img/view-from-drone-desktop.jpg);

      h2 {
        margin-left: 6%;
        margin-bottom: 0;
      }
      button {
        margin-right: 12%;
        transform: rotate(-90deg);
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          right: 110%;
          width: 20vw;
          height: 1px;
          background-color: var(--second);
          z-index: -1;
        }
      }
    }
  }

  .square {
    width: 100%;
    background-image: url(../img/half-drone.jpg);

    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      padding-left: 35%;
    }

    @include for-tablet-portrait-up {
      width: 50%;
    }

    @include for-tablet-landscape-up {
      width: 30%;
    }
  }
}

.section-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw 0;
  h2 {
    font-size: 8vw;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 2vw;

    @include for-tablet-portrait-up {
      font-size: 4vw;
    }
    @include for-tablet-landscape-up {
      font-size: 2.4vw;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 4vw;
    li {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4vw 0;
      box-sizing: border-box;

      @include for-tablet-portrait-up {
        width: 50%;
      }
      @include for-tablet-landscape-up {
        width: 25%;
      }

      img {
        height: 15vw;
        width: auto;
        margin-bottom: 2vw;
        @include for-tablet-portrait-up {
          height: 9vw;
        }
        @include for-tablet-landscape-up {
          height: 4.5vw;
        }
      }

      span {
        font-size: 5vw;
        font-weight: bold;

        @include for-tablet-portrait-up {
          font-size: 2.5vw;
        }
        @include for-tablet-landscape-up {
          font-size: 1.5vw;
        }
      }
    }
  }
}

.section-vision {
  display: flex;
  flex-wrap: wrap-reverse;

  div {
    width: 100%;
    height: 66vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10%;

    @include for-tablet-portrait-up {
      width: 50%;
      height: 33vw;
      padding-left: 5%;
    }
  }

  .screen {
    background-image: url(../img/screen.jpg);
    @include for-phone-only {
      height: 65vw;
    }
  }

  .new-vision {
    background-color: rgb(35, 35, 35);
    background-image: url(../img/drone-transparent.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 170% 50%;
  }
}

.section-flying {
  display: flex;
  height: 60vw;
  background-image: url(../img/drone-0.png);
  background-position: 112% 70%;
  background-size: 50%;
  padding-left: 5%;
  padding-top: 5vw;

  @include for-tablet-portrait-up {
    align-items: center;
    height: 43vw;
    padding-top: 0;
    background-position: 112% 50%;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    @keyframes animation {
      0% {
        background-position: 112%;
      }
      5% {
        background-position: 112%;
      }
      50% {
        background-position: 100%;
      }
      55% {
        background-position: 100%;
      }
      100% {
        background-position: 112%;
      }
    }
  }
}

.section-journey {
  position: relative;
  height: min(60vw, 100vh);
  background-size: 102%;
  background-position: 35% 35%;
  transition: background 1s;
  @media (max-width: 1199px) {
    background-image: url(../img/journey-1200.jpg);
  }
  @include for-desktop-up {
    background-image: url(../img/journey-2000.jpg);
    &:hover {
      background-size: 150%;
      background-position: 100% 0;
      transition: background-size 2s ease-in-out,
        background-position 3s ease-in-out 0.8s;
    }
  }

  div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column-reverse;
    align-items: center;
    padding-left: 5vw;
    height: 100%;
    padding-bottom: 5vw;
    @include for-tablet-landscape-up {
      padding-left: 0;

      justify-content: flex-end;
      flex-direction: column;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 27vw;

  .background {
    position: absolute;
    font-size: 12vw;
    font-weight: 700;
    text-shadow: 0px 16px 95px rgba(0, 0, 0, 0.15);
    color: #fff;
    z-index: -1;
  }
}

.logo {
  margin-right: 2vw;
  font-size: 5vw;
  font-weight: bold;
  position: relative;
  &::after {
    content: '';
    border-style: solid;
    border-color: var(--highlighted);
    border-radius: 50%;
    background-color: var(--second);
    position: absolute;
    border-width: 0.664vw;
    width: 1.33vw;
    height: 1.33vw;
    top: -0.3vw;
    @include for-tablet-landscape-up {
      border-width: 0.4vw;
      width: 0.8vw;
      height: 0.8vw;
    }
    @include for-desktop-up {
      border-width: 0.16vw;
      width: 0.32vw;
      height: 0.32vw;
      top: -0.1vw;
    }
  }

  @include for-tablet-landscape-up {
    font-size: 3vw;
  }
  @include for-desktop-up {
    font-size: 1.2vw;
  }
}

header {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vw;
  background-image: linear-gradient(90deg, #eff2f6 61%, var(--highlighted) 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  overflow: hidden;
}

.top-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.phone {
  img {
    margin-right: 0.2vw;
  }
  p {
    display: inline-block;
  }
}

.scroll {
  width: max-content;
  margin-bottom: 2vw;
  font-size: 0.9vw;
  font-weight: bold;
  transform: rotate(-90deg);
}

.image {
  width: 100%;
  height: 100%;
  background-image: url(../img/drone-0.png);
  background-position: 75% 50%;
  background-size: 60%;

  &--3 {
    background-image: url(../img/drone-3.png);
  }

  @media (max-width: 599px) {
    &--1 {
      background-image: url(../img/drone-1-600.png);
    }
    &--2 {
      background-image: url(../img/drone-2-600.png);
    }
  }

  @media (min-width: 600px) and (max-width: 899px) {
    &--1 {
      background-image: url(../img/drone-1-900.png);
    }
    &--2 {
      background-image: url(../img/drone-2-900.png);
    }
  }
  @media (min-width: 900px) {
  }
  &--1 {
    background-image: url(../img/drone-1-1200.png);
  }
  &--2 {
    background-image: url(../img/drone-2-1200.png);
  }
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dots {
  display: flex;
  flex-direction: column;
  margin-right: 2vw;

  &__dot {
    border: none;
    width: 0.6vw;
    height: 0.6vw;
    background-color: #92a1a5;
    border-radius: 50%;
    padding: 0;
    margin: 0.5vw;
    cursor: pointer;
  }
}
